 

body {
    margin: 0;
    /* font-family: Arial, sans-serif; */
    font-family: 'Baloo Thambi', cursive;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;  
    overflow-x: hidden;  
}

.top-nav {
    width: 100%;
    background-color: #fff;
    color:#000;
    /* font-size: 40px; */
    font-family: 'Baloo Thambi', cursive;
    font-weight: 500;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
    background-color: #fff;
    /* border-bottom: 1px solid #ccc; */
}
.left-section {
    display: flex;
    align-items: center;
}

.right-section {
    display: flex;
    align-items: center;
}

.dashboard-text {
    font-size: 40px;
    font-weight: bold;
    padding-left: 1rem;
}

.right-section span {
    margin-left: 20px;
    font-size: 18px;
    font-size: 40px;
    font-family: 'Baloo Thambi', cursive;
}
.search-icon {
    width: 35px;
    height: 35px;
    padding-top: 0.15rem;
}

.notif-icon {
    margin-left: 1rem;
}

.user-icon {
    display: flex;
    align-items: center;
}
.icon-female {
    margin-left: 1rem;
    padding-right: 2rem;
}

.user-icon:after {
    content: '';
    margin-left: 5px;
}

.content {
    display: flex;
    flex: 1;
    /* overflow-y: auto; */
    overflow-y: hidden;  
}

.sidebar {
    width: 220px;
    background-color: #292929;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 1rem;
    margin: 0 1rem;
}

.sidebar img {
    width: 150px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    font-size: 20px;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 1px 0;
    transition: background-color 0.3s;
    font-family: 'Baloo Thambi', cursive;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar a i {
    margin-right: 10px;
}

/* .sidebar a:hover {
    background-color: #575757;
} */

.sidebar a.active {
    background-color: #575757;
}

.sidebar .icon {
    margin-right: 10px;
    width: 25px;
    padding-top: 2px;
}
.sidebar a.logout {
    margin-top: auto;
}

.main-content {
    flex: 1;
    padding: 0 20px;
    box-sizing: border-box;
}

.bg-dashboard {
    background-color: #292929;
    border-radius: 1rem;
    margin-right: 2rem;
    color: #fff;
}

.row {
    display: flex;
    gap: 20px;
}

    .col-md-auto {
        flex: 0 0 auto;
        width: auto
    }

    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%
    }

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    /* background-color: #222; */
    background-color: #292929;
    color: #fff;
    padding: 30px 30px 10px;
    border-radius: 10px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.card p {
    margin: 5px 0;
    font-family: 'Baloo Thambi', cursive;
}
.card a {
    text-decoration: none;
    color: white;
}

.calendar {
    margin-bottom: 20px;
    color: #fff;
}

.sec-top {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Baloo Thambi', cursive;
}


/* .right-dash {
    background-color: #292929;
    padding: 0.1rem 2rem 2rem 2rem;
    margin-right: 1rem;
    border-radius: 1rem;
} */

@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 100px;
    }
    .sidebar a {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .card {
        width: 100%;
    }
}

.notifications {
    /* width: 95%; */
    width: 240px;
    background:  rgba(0,0,0,0.90);
    color: #fff;
    padding: 2px 2px 7px;
    border-radius: 5px;
    text-align: center;
}
.notifications h3 {
    margin: 0;
    padding: 6px 0 0 0;
}
.notifications p {
    margin: 0;
    padding: 6px;
    font-size: 12px;
}
.inline-content {
    display: flex;
    align-items: center;
}

.inline-content img {
    margin: 0 10px; 
    width: 24px;
}

.inline-content p {
    margin: 0; 
}
/* Calendar */
.wrapper{
  width: 250px;
  background:  rgba(0,0,0,0.90);
  color: white;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 15px 20px 0;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date {
  font-size: 1rem;
  font-weight: bold;
}
.calendar{
  padding: 0 0 1px;
}
.calendar ul{
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: white;
  width: calc(100% / 7);
  font-size: 0.7rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 25px;
  width: 25px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #F04D23;
}
.days li:not(.active):hover::before{
  /* background: #f2f2f2; */
  background: rgb(126, 118, 119);
}
/* Calendar */

.form-container {
    display: flex;
    gap: 50%;
    align-items: center;
    margin: 2rem;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    font-family: 'Baloo Thambi', cursive;
}

label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    outline: none;
    appearance: none;
    transition: border-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Baloo Thambi', cursive;
}

select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

select option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}
.btn {
    display: inline-block;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-family: 'Baloo Thambi', cursive;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-left: auto;
}

.btn:hover {
    background-color: #eee2e2;
}

.btn:focus {
    border-color: #dfd4d4;
    box-shadow: 0 0 5px rgba(247, 247, 248, 0.5);
}
.mt-0 {
    margin-top: 0 !important
}

.mt-1 {
    margin-top: .25rem !important
}

.mt-2 {
    margin-top: .5rem !important
}

.mt-3 {
    margin-top: 1rem !important
}

.mt-4 {
    margin-top: 1.5rem !important
}

.mt-5 {
    margin-top: 3rem !important
}

.mt-auto {
    margin-top: auto !important
}

.me-0 {
    margin-right: 0 !important
}

.me-1 {
    margin-right: .25rem !important
}

.me-2 {
    margin-right: .5rem !important
}

.me-3 {
    margin-right: 1rem !important
}

.me-4 {
    margin-right: 1.5rem !important
}

.me-5 {
    margin-right: 3rem !important
}

.me-auto {
    margin-right: auto !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.mb-1 {
    margin-bottom: .25rem !important
}

.mb-2 {
    margin-bottom: .5rem !important
}

.mb-3 {
    margin-bottom: 1rem !important
}

.mb-4 {
    margin-bottom: 1.5rem !important
}

.mb-5 {
    margin-bottom: 3rem !important
}

.mb-auto {
    margin-bottom: auto !important
}

.ms-0 {
    margin-left: 0 !important
}

.ms-1 {
    margin-left: .25rem !important
}

.ms-2 {
    margin-left: .5rem !important
}

.ms-3 {
    margin-left: 1rem !important
}

.ms-4 {
    margin-left: 1.5rem !important
}

.ms-5 {
    margin-left: 3rem !important
}

.ms-auto {
    margin-left: auto !important
}

.p-0 {
    padding: 0 !important
}

.p-1 {
    padding: .25rem !important
}

.p-2 {
    padding: .5rem !important
}

.p-3 {
    padding: 1rem !important
}

.p-4 {
    padding: 1.5rem !important
}

.p-5 {
    padding: 3rem !important
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important
}

.px-1 {
    padding-right: .25rem !important;
    padding-left: .25rem !important
}

.px-2 {
    padding-right: .5rem !important;
    padding-left: .5rem !important
}

.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important
}

.px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important
}

.py-1 {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important
}

.py-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important
}

.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important
}

.pt-0 {
    padding-top: 0 !important
}

.pt-1 {
    padding-top: .25rem !important
}

.pt-2 {
    padding-top: .5rem !important
}

.pt-3 {
    padding-top: 1rem !important
}

.pt-4 {
    padding-top: 1.5rem !important
}

.pt-5 {
    padding-top: 3rem !important
}

.pe-0 {
    padding-right: 0 !important
}

.pe-1 {
    padding-right: .25rem !important
}

.pe-2 {
    padding-right: .5rem !important
}

.pe-3 {
    padding-right: 1rem !important
}

.pe-4 {
    padding-right: 1.5rem !important
}

.pe-5 {
    padding-right: 3rem !important
}

.pb-0 {
    padding-bottom: 0 !important
}

.pb-1 {
    padding-bottom: .25rem !important
}

.pb-2 {
    padding-bottom: .5rem !important
}

.pb-3 {
    padding-bottom: 1rem !important
}

.pb-4 {
    padding-bottom: 1.5rem !important
}

.pb-5 {
    padding-bottom: 3rem !important
}

.ps-0 {
    padding-left: 0 !important
}

.ps-1 {
    padding-left: .25rem !important
}

.ps-2 {
    padding-left: .5rem !important
}

.ps-3 {
    padding-left: 1rem !important
}

.ps-4 {
    padding-left: 1.5rem !important
}

.ps-5 {
    padding-left: 3rem !important
}

.font-monospace {
    font-family: var(--bs-font-monospace) !important
}

.fs-1 {
    font-size: calc(1.375rem + 1.5vw) !important
}

.fs-2 {
    font-size: calc(1.325rem + .9vw) !important
}

.fs-3 {
    font-size: calc(1.3rem + .6vw) !important
}

.fs-4 {
    font-size: calc(1.275rem + .3vw) !important
}

.fs-5 {
    font-size: 1.25rem !important
}

.fs-6 {
    font-size: 1rem !important
}

.student-list {
    width: 100%;
    margin: 20px auto;
    border-radius: 10px;
}

.student-header, .student-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 1rem;
}

.student-header {
    background-color: #222;
    font-weight: bold;
}

.student-item {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 0.8rem 1.5rem;
    font-size: 22px;
    font-family: 'Baloo Thambi', cursive;
}

.student-item a {
    text-decoration: none;
}
.student-item:last-child {
    margin-bottom: 0;
}

        .student-info {
            display: flex;
            align-items: center;
        }

        .student-info img {
            border-radius: 50%;
            margin-right: 10px;
        }

        .view-btn {
            background-color: #000;
            color: #fff;
            padding: 5px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: 16px;
            font-family: 'Baloo Thambi', cursive;
        }

        .view-btn:hover {
            background-color: #555;
        }

        .student-girl-icon {
            height: 3rem;
        }

        .student-table-head {
            background-color: transparent !important;
            color: white !important;
            font-size: 25px;
            font-family: 'Baloo Thambi', cursive;
        }
.text-center {
    text-align: center !important
}
.icon-back {
    height: 4rem;
    margin: 1rem 0.5rem;
}
.progress-name {
    font-family: 'Baloo Thambi', cursive;
    font-size: 25px;
    float: right;
    margin: 1rem 1.6rem;
}

.progress-top-list {
    width: 100%;
    margin: 10px 10px 0;
    border-radius: 10px;
}
.progress-list {
    background-color: white;
    margin: 0 1rem;
    border-radius: 1rem;
}
.progress-table-head {
    background-color: transparent !important;
    color: white !important;
    font-size: 25px;
    font-family: 'Baloo Thambi', cursive;
    padding-left: 1rem;
}
.progress-table-list {
    color: black !important;
    font-size: 25px;
    font-family: 'Baloo Thambi', cursive;
    padding: 0 1rem 0;
    align-items: center;
    border-bottom: 1px solid black;
}
.icon-status {
    height: 2rem;
    margin: 1rem 1.7rem 0;
}
.progress-hr {
    padding: 0; 
    margin: 0 auto;
}


.account-creation {
    color: white;
    margin-left: 1rem;
}

.account-creation h2 {
    padding: 0 !important;
    margin: 0 !important;
}
/* Form group */
.form-group {
    margin-bottom: 5px;
}

/* Form labels */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Form inputs */
.form-group input,
.form-group textarea {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Button */
.account-creation button {
    width: 50%;
    padding: 12px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.account-creation button:hover {
    background-color: #45a049;
}

.account-creation select {
    padding: 5px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    outline: none;
    appearance: none;
    transition: border-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Baloo Thambi', cursive;
}

.account-creation select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.account-creation select option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}

/* Responsive design */
@media (max-width: 600px) {
    .account-creation button {
    width: 100%;
        font-size: 16px;
    }
}

/* Container */
.image-selector-container {
    max-width: 300px;
    margin: 0;
}

/* Select field */
.image-selector-container label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.image-selector-container select {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    background-color: #f0f0f0;
    cursor: pointer;
}

/* Image display */
.image-selector-container .image-display {
    width: 100%;
    height: auto;
    border-radius: 5px;
    /* background-color: #f9f9f9; */
}

/* Responsive image */
.image-selector-container .responsive-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Responsive design */
@media (max-width: 400px) {
    .image-selector-container {
        width: 90%;
        margin: 20px auto;
    }
    
    .image-selector-container label, select {
        font-size: 16px;
    }
    
    .image-selector-container .responsive-img {
        width: 100%;
    }
}
.account-item {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 98%;
    /* max-width: 500px; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.account-info {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.account-index {
    font-weight: bold;
    margin: 0 2rem 0 1rem;
    font-size: 22px;
}

.account-avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}

.account-name {
    font-weight: bold;
    font-size: 22px;
}

.account-actions {
    display: flex;
    gap: 10px;
    margin-right: 1rem;
}

/* .btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
} */

.edit-btn {
    background-color: #000;
    color: #fff;
}

.remove-btn {
    background-color: #000;
    color: #fff;
}

.profile-picture{
    margin: 0.3rem 3rem 0.1rem;
    padding: 0.2rem;
    border: 2px solid black;
    border-radius: 5rem;
    height: 4rem;
}

.change-picture-button {
    display: flex;
    align-items: center;
    border: 2px solid #000;
    border-radius: 5px;
    overflow: hidden;
    width: 16%; 
}

.change-picture-button .icon {
    padding: 7px 7px 0;
    border-right: 2px solid #000;
}

.change-picture-button .icon img {
    width: 25px;
    height: 25px;
}

.change-picture-button .text {
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
}

.profile-form input {
    background-color: #292929;
    color: white;
    font-weight: bold;
}
.profile-form h3 {
    padding: 0; margin: 0;
}
.profile-form select {
    padding: 2px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #292929;
    color: white;
    outline: none;
    appearance: none;
    transition: border-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Baloo Thambi', cursive;
    width: 30%;
}

.profile-form select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.profile-form select option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}

.profile-form .profile-btn {
    padding: 1.3px 25px;
    background-color: #292929;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

.profile-form .profile-btn:hover {
    background-color: rgb(48, 126, 52);
    color: #292929;
    border: 1px solid #292929;
}

.profile-form .outline-btn {
    padding: 1.2px 15px;
    color: #292929;
    border: none;
    border: 1px solid #292929;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 0.5rem;
}

.profile-form .outline-btn:hover {
    background-color: #973030;
    color: white;
}

.d-flex {
    display: flex !important
}
.justify-content-start {
    justify-content: flex-start !important
}

.justify-content-end {
    justify-content: flex-end !important
}

.justify-content-center {
    justify-content: center !important
}

.justify-content-between {
    justify-content: space-between !important
}

.justify-content-around {
    justify-content: space-around !important
}

.justify-content-evenly {
    justify-content: space-evenly !important
}

.accounts-btn {
    display: inline-block;
    font-size: 14px;
    padding: 7px 7px 3px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-family: 'Baloo Thambi', cursive;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-left: auto;
}

.accounts-btn:hover {
    background-color: #9c2222;
}

.accounts-btn:focus {
    border-color: #9c2222;
    box-shadow: 0 0 5px rgba(247, 247, 248, 0.5);
}

.archive-btn {
    display: inline-block;
    font-size: 14px;
    padding: 7px 7px 3px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-family: 'Baloo Thambi', cursive;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-left: auto;
}

.archive-btn:hover {
    background-color: #8e9b1f;
}

.archive-btn:focus {
    border-color: #8e9b1f;
    box-shadow: 0 0 5px rgba(247, 247, 248, 0.5);
}