/* body {
  font-family: Arial, sans-serif;
} */
body {
  background-color: #3f0274; /* Purple background */
  color: white;
}
.sidebar {
  background-color: white; /* Yellow background for the sidebar */
  height: 80vh; /* Full viewport height */
  padding: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar a {
  color: black;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
  display: block;
  width: 100%;
}
.sidebar .active {
  background-color: #FCFF7A;
  padding: 1rem;
}
.sidebar a:hover {
  color: #4A0072;
}

.sidebar .icon {
  font-size: 24px;
  margin-bottom: 10px;
}
/* Ensure the last image is at the bottom */
.float-bottom {
  margin-top: auto; /* Pushes the element to the bottom */
}

/* Calendar */
.wrapper{
  width: 100%;
  background:  #FFFFFF;
  color: #4A5660;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 15px 20px 0;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date {
  font-size: 1rem;
  font-weight: bold;
}
.calendar{
  padding: 0 0 1px;
}
.calendar ul{
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #4A5660;
  margin: 0.7rem 0;
  width: calc(100% / 7);
  font-size: 0.7rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 25px;
  width: 25px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #F04D23;
}
.days li:not(.active):hover::before{
  /* background: #f2f2f2; */
  background: rgb(126, 118, 119);
}
/* Calendar */